.btbrd-table {
  width: 100%;
  box-sizing: border-box;
  display: table;
  color: $color-accent-high;
  border: 1px solid $color-background-lower;
  text-align: left;
  border-collapse: collapse;
  .btbrd-table-caption {
    display: table-caption;
  }

  .btbrd-table-header-group {
    display: table-header-group;
    font-size: 1.0em;
    .btbrd-table-row {
      display: table-row;
      .btbrd-table-cell {
        padding-top: 4px;
        display: table-cell;
        color: $color-foreground-higher-alt;
        font-weight: bold;
        background-color: $color-background-normal-low;
      }
    }
  }

  .btbrd-table-row-group {
    font-size: 1.0em;
    display: table-row-group;
    .btbrd-table-row {
      display: table-row;
      background-color:$color-background-lowest;
      &:nth-child(even) {
        background-color:$color-background-lower;
      }
      &.is-selected {
          background-color:$color-highlight-lower;
      }
      .btbrd-table-cell {
        display: table-cell;
        border: #000;
        text-align: left;
        padding: 4px 8px;
      }
    }

  }

  .btbrd-table-column-group {
    display: table-column-group;
    .btbrd-table-column {
      display: table-column;
    }
  }

  .btbrd-table-footer-group {
    display: table-footer-group;
  }
}
