.split-view {
  position: relative;
  overflow: hidden;
  > .split-view-content, > .split-view-pane {
    position: relative;
  }

  &.split-view-horizontal {
    height: 100%;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;

    > .split-view-pane {
      -webkit-order: 0;
      -ms-flex-order: 0;
      order: 0;
      -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
      flex: 0 0 auto;
      -webkit-align-self: auto;
      -ms-flex-item-align: auto;
      align-self: auto;
    }
    > .split-view-content {
      height: 1px;
      -webkit-order: 0;
      -ms-flex-order: 0;
      order: 0;
      -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
      flex: 1 0 auto;
      -webkit-align-self: auto;
      -ms-flex-item-align: auto;
      align-self: auto;
    }

    > .split-view-pane {
      height: 50%;
      > .tr-scroll-panel > .tr-scroll-panel-bar {
        overflow-x: hidden;
      }
    }

    &.split-view-resizable {
      > .split-view-pane {
        > .ui-resizable-handle {
          background-color: $color-background-lowest;
          box-shadow: 0px -1px 2px 0px $color-background-low;
          &:after {
            content: '\ff1d';
            position: absolute;
            top: 1px;
            left: 50%;
            right: 50%;
            line-height: 5px;
            font-size: 12px;
            color: $color-background-normal;
          }
        }
      }
      > .split-view-content {
        padding-top: 6px;
      }
      &.is-reverse {
        > .split-view-content {
          > .ui-resizable-handle {
            background-color: $color-background-lowest;
            box-shadow: 0px -1px 2px 0px $color-background-low;
            &:after {
              content: '\ff1d';
              position: absolute;
              top: 1px;
              left: 50%;
              right: 50%;
              line-height: 5px;
              font-size: 12px;
              color: $color-background-normal;
            }
          }
        }
        > .split-view-pane {
          padding-top: 6px;
        }
      }
    }

    > .split-view-content {
      height: 50%;
      box-sizing: border-box;
    }
  }
  &.split-view-vertical {
    height: 100%;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;

    > .split-view-pane {
      -webkit-order: 0;
      -ms-flex-order: 0;
      order: 0;
      -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
      flex: 0 0 auto;
      -webkit-align-self: auto;
      -ms-flex-item-align: auto;
      align-self: auto;
    }
    > .split-view-content {
      -webkit-order: 0;
      -ms-flex-order: 0;
      order: 0;
      -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
      flex: 1 0 auto;
      -webkit-align-self: auto;
      -ms-flex-item-align: auto;
      align-self: auto;
    }

    > .split-view-pane {
      width: 50%;
      > .tr-scroll-panel > .tr-scroll-panel-bar {
        overflow-y: hidden;
      }
    }

    &.split-view-resizable {
      > .split-view-pane {
        > .ui-resizable-handle {
          background-color: $color-background-lowest;
          box-shadow: -1px 0px 2px 0px $color-background-low;
          &:after {
            content: '\ff1d';
            position: absolute;
            right: 1px;
            top: 50%;
            bottom: 50%;
            line-height: 5px;
            font-size: 12px;
            color: $color-background-normal;
          }
        }
      }
      > .split-view-content {
        padding-right: 6px;
      }
      &.is-reverse {
        > .split-view-content {
          > .ui-resizable-handle {
            background-color: $color-background-lowest;
            box-shadow: 1px 0px 2px 0px $color-background-low;
            right: 0;
            &:after {
              content: '\ff1d';
              position: absolute;
              right: -5px;
              top: 50%;
              bottom: 50%;
              line-height: 5px;
              font-size: 12px;
              color: $color-background-normal;
              transform: rotate(90deg);
            }
          }
        }
        > .split-view-pane {
          padding-right: 6px;
        }
      }
    }

    > .split-view-pane {
      width: 50%;
      box-sizing: border-box;
    }
  }

  &.split-view-reverse {
    &.split-view-horizontal {
      -webkit-flex-direction: column-reverse;
      -ms-flex-direction: column-reverse;
      flex-direction: column-reverse;
    }
    &.split-view-vertical {
      -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
      flex-direction: row-reverse;
    }

  }
}
