/*!****** FONTS ******!
$font-family: 'PT Sans', sans-serif;
$font-family-narrow:  'PT Sans Narrow', sans-serif;
$font-family-caption:  'PT Sans Caption', sans-serif;

!****** COLORS ******!

$color-accent: #3ca934;//#009fe3;
$color-highlight: #d00345;
$color-one: #222;
$color-two: #fff;

$color-success: #2fc066;
$color-warning: #e1ba53;
$color-error: #e15356;

$color-foreground: $color-one;
$color-background: $color-two;

$space: 8px;*/

/******* FONTS ******/
@if($font-family == null) { $font-family: 'PT Sans', sans-serif; }
@if($font-family-narrow == null) { $font-family-narrow:  'PT Sans Narrow', sans-serif; }
@if($font-family-caption == null) { $font-family-caption:  'PT Sans Caption', sans-serif; }

/****** COLORS ******/

@if($color-accent == null) { $color-accent: #009fe4; }
@if($color-highlight == null) { $color-highlight: #e431ae; }
@if($color-one == null) { $color-one: #222; }
@if($color-two == null) { $color-two: #fff; }

@if($color-success == null) { $color-success: #2fc066; }
@if($color-warning == null) { $color-warning: #e1ba53; }
@if($color-error == null) { $color-error: #e15356; }

@if($color-foreground == null) { $color-foreground: $color-one; }
@if($color-background == null) { $color-background: $color-two; }

@if($space == null) { $space: 8px; }

@import "normalize";
@import "variables";
@import "html";
@import "theming";
@import "flexgrid";

@import "addons/ember-modal";

@import "components/alert";
@import "components/bb-dialog";
@import "components/blade";
@import "components/board";
@import "components/board/value-widget";
@import "components/buttonfield";
@import "components/card";
@import "components/card-layout";
@import "components/container";
@import "components/contentpresenter";
@import "components/datetime-picker";
@import "components/editor";
@import "components/error-tooltip";
@import "components/form";
@import "components/image-upload";
@import "components/info-tooltip";
@import "components/label";
@import "components/legend";
@import "components/listmenu";
@import "components/listview";
@import "components/loader";
@import "components/map-editor";
@import "components/menubar";
@import "components/message-panel";
@import "components/pageview";
@import "components/scroll-panel";
@import "components/select-editor-popout";
@import "components/spinner";
@import "components/splitview";
@import "components/split-view";
@import "components/sticky-header";
@import "components/submenu";
@import "components/support";
@import "components/table";
@import "components/text-loader";
@import "components/toggle";
@import "components/traffic-light";
@import "components/treeview";
@import "components/value-bar";
@import "components/btbrd-table";
