/******* FONTS ******/
$font-family: 'PT Sans', sans-serif;
$font-family-narrow:  'PT Sans Narrow', sans-serif;
$font-family-caption:  'PT Sans Caption', sans-serif;

/****** COLORS ******/

$color-accent: #009fe4;
$color-highlight: #e431ae;
$color-one: #222;
$color-two: #fff;

$color-success: #2fc066;
$color-warning: #e1ba53;
$color-error: #e15356;

$color-foreground: $color-one;
$color-background: $color-two;
