<div class="listview-demo-container">
  {{#tr-listview 
    items=model
    idPropertyName="id"
    as |listview item| }}
    {{#listview.itemTemplate}}
      {{item.id}} - {{item.key}} - {{item.value}}
    {{/listview.itemTemplate}}
  {{/tr-listview}}
</div>
