<div class="select-editor-demo-container">
  <h1>select</h1> 
  {{tr-select-editor 
    items=model
    keyProperty="key"
    valueProperty="value"
    idPropertyName= "id"
    emptyText="emptyText"
    popoutHeader="popoutHeader"
    popoutPrimaryText="popoutPrimaryText"
    editable=false
    style="select"}}

  <h1>flat</h1>  
  {{tr-select-editor 
    items=model
    keyProperty="key"
    valueProperty="value"
    idPropertyName= "id"
    emptyText="emptyText"
    popoutHeader="popoutHeader"
    popoutPrimaryText="popoutPrimaryText"
    editable=false
    style="flat"}}
  
  <h1>popout - TODO: Selection is not working</h1>  
  {{#tr-select-editor 
    items=model
    keyProperty="key"
    valueProperty="value"
    idPropertyName= "id"
    emptyText="emptyText"
    popoutHeader="popoutHeader"
    popoutPrimaryText="popoutPrimaryText"
    editable=false
    style="popout"
    as |popoutItem|
    }}
      {{#popoutItem.itemTemplate}}
        {{tr-select-editor-item content=popoutItem.data valueProperty="value"}}
      {{/popoutItem.itemTemplate}}
  {{/tr-select-editor}}
</div>