<div class="btbrd-table">
  <div class="btbrd-table-header-group">
    <div class="btbrd-table-row">
      {{#each headerDefinition as |h|}}
        <div class="btbrd-table-cell">
          {{yield (hash headerTemplate=(component "tr-table/tr-table-column-header-presenter" 
            columnDefinition=h
            toggleSorting=(action "toggleSorting" h)
            columnState=(get columnStates (concat "_" (camelize-string h.attributeName) ))
            applyColumnFilter=(action "applyColumnFilter" h)
            ))}}
        </div>
      {{/each}}
    </div>
  </div>
  <div class="btbrd-table-row-group">
    {{#each tableData as |rowData|}}
      {{#tr-table/tr-table-row data=rowData isSelected=rowData.isSelected onClick=(action "rowClicked") onCtrlClick=(action "rowCtrlClicked" allowedKeys="ctrl") onDrag=(action "rowDragStart")}}
        {{#each headerDefinition as |column|}}
          <div class="btbrd-table-cell">          
            {{yield (hash itemTemplate=(component "tr-table/tr-table-cell-presenter" 
              value=(get rowData (get column "attributeName"))
              rowValue=rowData
              columnDefinition=column ))}}
          </div>
        {{/each}}
      {{/tr-table/tr-table-row}}
      {{#if rowData.isExpanded}}
        <div class="btbrd-table-row">
          <td class="btbrd-table-cell" colspan={{get headerDefinition "length"}}>
            {{yield (hash childTemplate=(component "tr-table/tr-table-row-extend-presenter" rowData=rowData))}}
          </td>
        </div>
      {{/if}}
    {{/each}}
  </div>
</div>