.tr-board-widget.tr-value-widget {
  //background-color: $color-accent;
  //color: $color-accent-highest-alt;
  .fa {
    font-size: 15em;
    color: $color-background-lowest;
  }
  h3 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: 2em;
    text-align: center;
    font-weight: 100;
    font-family: $font-family-narrow;
    line-height: $board-widget-size;
    padding: 0;
    margin: 0;
  }

  label {
    position: absolute;
    bottom: 8px;
    left: 8px;
    right: 8px;
    font-size: 0.75rem;
    color: $color-foreground-lower;
  }
}
