<ul>
  <li>{{#link-to "demos.checkboxeditor"}}tr-checkbox-editor{{/link-to}}</li>
  <li>{{#link-to "demos.toggle"}}tr-toggle{{/link-to}}</li>
  <li>{{#link-to "demos.treeview"}}tr-treeview{{/link-to}}</li>
</ul>
<hr>
{{outlet}}